<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
    <%= f.input :title, label: "Article title:", input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "Title here...", autofocus: true %>
    <br>
    <%= f.input :text, label: "Write your article:", input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "Article content here..." %>
    <br>
    <div class="columns">
      <div class="column">
        <%= f.input :image, label: "Select image:", input_html: { class: "file" }, wrapper: false, label_html: {class: "label"} %>
      </div>
      <div class="new-fields column is-flex p-0 pt-4 pl-4">
        <%= fields_for(@selected) do |s| %>
          <strong class="mr-4"><%= s.label :categories %>:</strong>
          <%= s.collection_select(:selected_id, @categories, :id, :name, {selected: 2, include_hidden: false}, { multiple: true, required: true }) %>
        <% end %>
      </div>
    </div>
    <br>
  <%= f.button :submit, class: "button is-main is-align-self-flex-start" %>
<% end %>
