<p id="notice"><%= notice %></p>

<div class="columns articles-home is-multiline mt-1">
  <div class="column p-0 article-main is-9">
    <%= image_tag ("/assets/dota.jpg"), class:'article-main-image' %>
  </div>
  <div class="events-aside column p-0 article-side is-3">
    <section><%= render 'events' %></section>
    </div>

  <div class="column p-0 article-categories is-3">
    <div class="dummy"></div>
    <%= image_tag ("/assets/valorant.jpg"), class:'article-categories-image' %>
  </div>
  <div class="column p-0 article-categories is-3">
    <div class="dummy"></div>
    <%= image_tag ("/assets/pubg.jpg"), class:'article-categories-image' %>
  </div>
  <div class="column p-0 article-categories is-3">
    <div class="dummy"></div>
    <%= image_tag ("/assets/fnatic.png"), class:'article-categories-image' %>
  </div>
  <div class="column p-0 article-categories is-3">
    <div class="dummy"></div>
    <%= image_tag ("/assets/csgo.jpg"), class:'article-categories-image' %>
  </div>
</div>

<%# NEWS ARTICLES %>
<div class="columns articles-home is-multiline">
  <%= show_new_article_list(@articles) %>
</div>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

