<p id="notice"><%= notice %></p>

<h1>
  <%= @article.title %>
  <%= @article.text %>
  <%= image_tag(@article.image) if @article.image.attached? %>
  <%= articles_controller(@article) %>
  
  <%= vote_button(art) %>

</h1>

