<!DOCTYPE html>
<html class="is-main">
  <head>
    <title>Secret shop</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  <body class="has-text-white">
  <%# HEADER %>
  <header>
    <nav class="navbar has-background-white is-fixed-top is-flex is-justify-content-space-between">
  		<div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4 has-text-main">Secret shop</h1>
        <% end %>
  	  </div>

      <div class="navbar-item is-hidden-touch">
        <div class="field is-grouped">
          <span>
            <%= link_to 'NEWS', category_path(Category.find(1)), class: 'button is-navbar pr-3 is-size-09' %>
          </span>
          <span>
            <%= link_to 'DOTA 2', category_path(Category.find(5)), class: 'button is-navbar pr-3 is-size-09' %>
          </span>
          <span>
            <%= link_to 'CS:GO', category_path(Category.find(8)), class: 'button is-navbar pr-3 is-size-09' %>
          </span>
          <span>
            <%= link_to 'VALORANT', category_path(Category.find(6)), class: 'button is-navbar pr-3 is-size-09' %>
          </span>
          <span>
            <%= link_to 'LOL', category_path(Category.find(7)), class: 'button is-navbar pr-3 is-size-09' %>
          </span>
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn button is-navbar pr-1 is-size-09">MORE<i class="fas fa-sort-down pl-1 pb-2"></i></button>
            <div id="myDropdown" class="dropdown-content">
              <%= link_to 'Events', category_path(Category.find(2)), class: 'is-size-09 has-text-semibold' %>
              <%= link_to 'Patch Notes', category_path(Category.find(3)), class: 'is-size-09 has-text-semibold' %>
              <%= link_to 'Releases', category_path(Category.find(4)), class: 'is-size-09 has-text-semibold' %>
            </div>
          </div>
        </div> 
      </div>

      <div class="navbar-item is-align-items-center">
        <div class="field is-grouped">
          <%= admin_create_article %>
          <%= user_navbar %>
        </div>
      </div>
  	</nav>
  </header>   
  <%# MAIN %>
  <main class="main">
    <%= yield %>
  </main>
  <%# FOOTER %>
  <footer class="is-main is-flex is-align-items-center is-justify-content-space-between mt-4">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <h1 class="title is-4 has-text-white">Secret shop</h1>
      <% end %>
    </div>

    <div class="navbar-item is-flex is-align-items-center has-text-white is-size-7">
      <a class="mr-3 has-text-accent" href="#">Privacy Policy</a>
      <a class="mr-3 has-text-accent" href="#">Terms & Conditions</a>
      <p href="#">Copyright 2021. All rights reserved.</p>
    </div>

    <div class="navbar-item is-flex is-align-items-center is-hidden-touch">
      <p class="field is-grouped has-text-white m-0 is-size-7">
        Connect with us:
      </p>
      <a class="footer-icons" href="https://github.com/VanessaAoki"><i class="fab fa-twitter"></i></a>
      <a class="footer-icons" href="https://github.com/VanessaAoki"><i class="fab fa-instagram"></i></a>
      <a class="footer-icons" href="https://github.com/VanessaAoki"><i class="fab fa-facebook-f"></i></a>
    </div>
  </footer>
    <%# FONT AWESOME SCRIPT %>
    <script src="https://kit.fontawesome.com/0348c0adc9.js" crossorigin="anonymous"></script>
    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    } 
    </script>
  </body>
</html>
