<!DOCTYPE html>
<html class="has-background-black">
  <head>
    <title>Secret shop</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  <body class="has-text-white">
  <%# HEADER %>
  <header>
    <nav class="navbar has-background-white is-fixed-top is-flex is-justify-content-space-between">
  		<div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4 has-text-main">Secret shop</h1>
        <% end %>
  	  </div>

      <div class="navbar-item">
        <div class="field is-grouped">
          <button class="button is-navbar px-1 is-size-09">
          HOME
          </button>
          <button class="button is-navbar px-1 is-size-09">
          DOTA 2
          </button>
          <button class="button is-navbar px-1 is-size-09">
          CS:GO
          </button>
          <button class="button is-navbar px-1 is-size-09">
          VALORANT
          </button>
          <button class="button is-navbar px-1 is-size-09">
          LOL
          </button>
          <button class="button is-navbar px-1 is-size-09">
          INDIE GAMES
          </button>
          <button class="button is-navbar px-1 is-size-09">
          MORE
          </button>
        </div>
      </div>

      <div class="navbar-item is-align-items-center">
        <div class="field is-grouped">
          <%= admin_create_article %>
          <%= user_navbar %>
        </div>
      </div>
  	</nav>
  </header>   
  <%# MAIN %>
  <main class="main">
    <%= yield %>
  </main>
  <%# FOOTER %>
  <footer class="is-main is-flex is-align-items-center is-justify-content-space-between mt-4">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <h1 class="title is-4 has-text-white">Secret shop</h1>
      <% end %>
    </div>

    <div class="navbar-item is-flex is-align-items-center has-text-white is-size-7">
      <a class="mr-3 has-text-accent" href="#">Privacy Policy</a>
      <a class="mr-3 has-text-accent" href="#">Terms & Conditions</a>
      <p href="#">Copyright 2021. All rights reserved.</p>
    </div>

    <div class="navbar-item is-flex is-align-items-center">
      <p class="field is-grouped has-text-white m-0 is-size-7">
        Connect with us:
      </p>
      <a class="footer-icons" href="https://github.com/VanessaAoki"><i class="fab fa-twitter"></i></a>
      <a class="footer-icons" href="https://github.com/VanessaAoki"><i class="fab fa-instagram"></i></a>
      <a class="footer-icons" href="https://github.com/VanessaAoki"><i class="fab fa-facebook-f"></i></a>
    </div>
  </footer>
    <%# FONT AWESOME SCRIPT %>
    <script src="https://kit.fontawesome.com/0348c0adc9.js" crossorigin="anonymous"></script>
    <%# CAROUSEL SCRIPT %>
    <script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script>
  </body>
</html>
